body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .login-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .bg-image img {
    object-fit: cover;
  }
  .requirements {
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  