.footer {
  background-color: #3498db ; /* Dark background color */
  color: white; /* Text color */
}

.footer a {
  color: #adb5bd; /* Light color for links */
  text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
  color: white; /* Change color on hover */
}

h5 {
  border-bottom: 2px solid #007bff; /* Bottom border for headings */
  padding-bottom: 10px; /* Space below heading */
}

@media (max-width: 576px) {
  .footer .col-md-3 {
    margin-bottom: 1rem; /* Space between columns on small screens */
  }
}
